@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter" sans-serif;
  font-optical-sizing: auto;
  background: #000000;
  color: #ffffff;
  scroll-behavior: smooth;
}

.bg-image {
}
